form {
  box-sizing: border-box;
}

input, textarea {
  width: 100%;
  height: 100%;
  padding: 0;
  border-width: 0;
}

.search-exercise {
  width: 100%;
  background-color: #00548f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.exercise-search-title {
  color: white;
}

#last-session-description {
  background-color: #0072bc;
  margin: 0;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#exercise {
  height: 50px;
}

.submit-exercise {
  margin: 10px;
  background: #0072bc;
  color:  white;
  width: 30%;
  height: 75px;
  font-size: 30px;
}

.new-exercise {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.edit_exercise {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.new-exercise-label {
  background-color: #00548f;
  color: white;
  margin: 0;
  width: 100%;
  height: 75px;
  font-size: 35px;
}

.new-exercise-input {
  margin: 0;
  border: 1px solid #0072bc;
  width: 100%;
  height: 75px;
}

.new-exercise-date-select {
  width: 100%;
}

.new-exercise-text-area {
  margin: 0;
  border: 1px solid #0072bc;
  width: 100%;
  height: 150px;
}

select {
  margin:  5px 10px;
  height: 65px;
  width: 30%;
  font-size: 35px;
  background-color: white;
}