.new_food_entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.edit_food_entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new_food_entry > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.edit_food_entry > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}